.header_container {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
}
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .pokemon_logo_link {
    .pokemon_logo {
      width: 70px;
      height: 50px;
      object-fit: contain;
      flex-shrink: 0;
    }
  }
}
